
<suite name="New Jenkins build jobs local/remote">
<listeners>
<listener class-name="listener.MyTestNGListener"/>
</listeners>
<test name="Jenkins home builds page - hpBuildJobMenuNav">
<classes>
<class name="testcases.Session">
<methods>
<include name="hpBuildJobMenuNav"/>
</methods>
</class>
</classes>
</test>
</suite>
<!--  Suite  -->